{{> head}}
{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>Sobre mi</h1>
    </div>
    <div class="col-4">
        <img src="assets/img/tenisnike.jpg" alt="Sobre mi" class="img-thumbnail">
    </div>
</div>



{{> footer}}